<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name, msg| %>

    <ul>
    <li><%= msg %></li>
    </ul>

  <% end %>

  <% if logged_in? %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  <% else %>
    <button> <%= link_to "LogIn", login_path %> </button>
  <% end %>

    <%= yield %>
    <h1>End</h1>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
